html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: myFirstFont;
    src: url(typewriter.ttf);
    display: none;
}

body {
  background-color: #201B2D;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  color: white;
}

h1 {
  vertical-align: center;
  font-size: 40px;
  font-weight: lighter;
  padding-left: 30%;
  font-family: myFirstFont;
  color: white;
  position: fixed;
  z-index: 1;
}

#date {
  margin-left: 370px;
  margin-top: 80px;
  color: #EDC418;
  position: fixed;
  z-index: 2;
}

#shape {
  top: 141px;
  left: -75px;
  width: 60%;
  position: fixed;
  z-index: 3;
}

#line {
  width: 110px;
  height: 1px;
  top: 280px;
  left: 108px;
  background-color: white;
  position: fixed;
  z-index: 4;
}

p {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: white;
  position: fixed;
  z-index: 5;
}

#search_moments {
  margin-left: 100px;
  margin-top: 250px;
  color: #EDC418;
  position: fixed;
}

#about {
  margin-left: 100px;
  margin-top: 300px;
  position: fixed;
  z-index: 6;
}

#about:hover {
  color: #EDC418;
  text-decoration: underline;
}

#about_box {
  display: none;
  background-color: black;
  border-radius: 30px;
  opacity: 0.5;
  left: 320px;
  top: 180px;
  width: 600px;
  height: 300px;
  position: fixed;
  z-index: 7;
}

#about_text {
  display: none;
  max-width: 570px;
  padding-left: 40px;
  padding-top: 80px;
  color: white;
  font-size: 120%;
  line-height: 18px;
  position: fixed;
  z-index: 8;
}

#bar {
  margin-left: 100px;
  margin-top: 320px;
  position: fixed;
  z-index: 7;
}

#bar:hover {
  color: #EDC418;
  text-decoration: underline;
}

#country {
  margin-left: 100px;
  margin-top: 340px;
  position: fixed;
  z-index: 8;
}

#country:hover {
  color: #EDC418;
  text-decoration: underline;
}

#friend {
  margin-left: 100px;
  margin-top: 360px;
  position: fixed;
  z-index: 9;
}

#friend:hover {
  color: #EDC418;
  text-decoration: underline;
}

#work {
  margin-left: 100px;
  margin-top: 380px;
  position: fixed;
  z-index: 9;
}

#work:hover {
  color: #EDC418;
  text-decoration: underline;
}

#chance {
  margin-left: 100px;
  margin-top: 400px;
  position: fixed;
  z-index: 9;
}

#chance:hover {
  color: #EDC418;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1900px;
  margin: 20px auto 0;
  padding: 0 44px;
}
  
.grid-container {
  padding-top: 80px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 1em 0;
  transition: 0.2s;
}

.article-item {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.article-item img {
  max-width: 100%;
  position: relative;
  height: auto;
}

.back {
  display: none;
}

/* From Bar page */

h2 {
  vertical-align: center;
  font-size: 40px;
  font-weight: lighter;
  top: 5px;
  padding-left: 30%;
  font-family: myFirstFont;
  color: white;
  position: fixed;
  z-index: 1;
}

#return {
  margin-left: 370px;
  margin-top: 80px;
  text-decoration: underline;
  color: #EDC418;
  position: fixed;
  z-index: 2;
}

/* From Another Country page */

h3 {
  vertical-align: center;
  font-size: 40px;
  font-weight: lighter;
  top: -3px;
  padding-left: 30%;
  font-family: myFirstFont;
  color: white;
  position: fixed;
  z-index: 1;
}

#return {
  margin-left: 370px;
  margin-top: 80px;
  text-decoration: underline;
  color: #EDC418;
  position: fixed;
  z-index: 2;
}

/* From a Friend page */

h4 {
  vertical-align: center;
  font-size: 40px;
  font-weight: lighter;
  top: -15px;
  padding-left: 30%;
  font-family: myFirstFont;
  color: white;
  position: fixed;
  z-index: 1;
}

#return {
  margin-left: 370px;
  margin-top: 80px;
  text-decoration: underline;
  color: #EDC418;
  position: fixed;
  z-index: 2;
}

/* Workplace page */

h5 {
  vertical-align: center;
  font-size: 40px;
  font-weight: lighter;
  top: -30px;
  padding-left: 30%;
  font-family: myFirstFont;
  color: white;
  position: fixed;
  z-index: 1;
}

#return {
  margin-left: 370px;
  margin-top: 80px;
  text-decoration: underline;
  color: #EDC418;
  position: fixed;
  z-index: 2;
}

/* Found by chance page */

h6 {
  vertical-align: center;
  font-size: 40px;
  font-weight: lighter;
  top: -55px;
  padding-left: 30%;
  font-family: myFirstFont;
  color: white;
  position: fixed;
  z-index: 1;
}

#return {
  margin-left: 370px;
  margin-top: 80px;
  text-decoration: underline;
  color: #EDC418;
  position: fixed;
  z-index: 2;
}